div.mjt-head {

    border: solid 1px #cccccc;

    /*枠を丸く*/
    border-top-left-radius: 10px;     /* 左上 */
    border-top-right-radius: 10px;    /* 右上 */
    -webkit-border-top-left-radius: 10px;     /* 左上 */
    -webkit-border-top-right-radius: 10px;    /* 右上 */
    -moz-border-radius-topleft: 10px;     /* 左上 */
    -moz-border-radius-topright: 10px;    /* 右上 */

    /*背景はグラデーション*/
    background: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee) );

    margin-top:-10px;
}
div.mjt-body {
    margin-bottom:10px;
padding:5px;
    border: solid 1px #cccccc;

    /*枠を丸く*/
    border-bottom-left-radius: 10px;  /* 左下 */
    border-bottom-right-radius: 10px; /* 右下 */
    -webkit-border-bottom-left-radius: 10px;  /* 左下 */
    -webkit-border-bottom-right-radius: 10px; /* 右下 */
    -moz-border-radius-bottomleft: 10px;  /* 左下 */
    -moz-border-radius-bottomright: 10px; /* 右下 */

    background: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));


}