body{
font-size: 14px;
}



div.chank { 
display:block ;

margin-top:    1px ;
margin-bottom: 1px ;
margin-left:   1px ;
margin-right:  1px ;

padding-top : 2px ; /*余白*/
padding-bottom : 2px ; /*余白*/
padding-left : 2px ; /*余白*/
padding-right: 2px ; /*余白*/

border: solid; 
border-width: 2px;
border-top-color:    #dddddd;
border-left-color:   #dddddd;
border-bottom-color: #999999;
border-right-color:  #999999;

/*角を丸くする*/
-moz-border-radius: 5px; /* Firefox用 */
-webkit-border-radius: 5px; /* Safari,Google Chrome用 */
border-radius: 5px; /* CSS3 */

}

select{
width: 60px;
height: 30px;
font-size: 14px;
}

input.checkbox{
width: 60px;
height: 20px;
font-size: 14px;
}

button.large{
    margin: 1px;
}

/*button.large{
background-color: #dddddd;
width: 60px;
height: 40px;
font-size: 14px;
margin-top:    1px ;
margin-bottom:    1px ;
}*/

button.small{
border: solid 0px ; 
color:#0000ff ; 
background-color: #ffffff;
text-decoration: underline;
}