body{

}

div.chank { 
display:block ;



margin-top:    5px ;
margin-bottom: 5px ;
margin-left:   5px ;
margin-right:  5px ;

padding-top : 5px ; /*余白*/
padding-bottom : 5px ; /*余白*/
padding-left : 5px ; /*余白*/
padding-right: 5px ; /*余白*/

border: solid; 
border-width: 3px;
border-top-color:    #dddddd;
border-left-color:   #dddddd;
border-bottom-color: #999999;
border-right-color:  #999999;

/*角を丸くする*/
-moz-border-radius: 5px; /* Firefox用 */
-webkit-border-radius: 5px; /* Safari,Google Chrome用 */
border-radius: 5px; /* CSS3 */

}

button.large{
background-color: #dddddd;

}
button.small{
border: solid 0px ; 
color:#0000ff ; 
background-color: #ffffff;
text-decoration: underline;
}